header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-style: groove;
    border-width: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.lg-btn{
    padding: 8px 18px 8px 18px;
    border-radius: 5px;
    border-style: none;
    color: white;
    background-color: #5D37F3;
    cursor: pointer;
    &:hover{
        color:#5D37F3;
        background-color: rgb(247, 243, 243);
        transition: 0.3s;
    }
}


.boddy{
    background-color: #E4E3EB;
    display: block;
}

.boddy-uper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0px 50px;
}

.boddy-middle{
    display: flex;
    justify-content: center;    
    gap: 20px;
    padding-top: 50px;
}

.middle-btn1{
    color: #D6961C; 
    background-color: #ffba2f23;
}

.middle-btn2{
    color: #15C972; 
    background-color: #1cd67c25;
}

.middle-btn3{
    color: #B71FDD; 
    background-color: #b11cd618;
}

.middle-btn4{
    color: #DC2828; 
    background-color: #fa575725;
}

.middle-btn5{
    color: #60BE16; 
    background-color: #6fcf2527;
}

.middle-btn6{
    color: #1AC7A8; 
    background-color: #08d2ad2a;
}

.middle-btn1,
.middle-btn2,
.middle-btn3,
.middle-btn4,
.middle-btn5,
.middle-btn6 {
    cursor: pointer;
    border-style: none;
    padding: 6px 12px 6px 12px;
    border-radius: 16px;
}

.category{
    border-style: none;
    padding: 6px 12px 6px 12px;
    border-radius: 16px;
}

.boddy-bottom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
}

.bottom-boddy-parts{
    width: 408px;
    a {
        color: #5D37F3;
        text-decoration: none;
    }
    
}

button.active {
    border: 2px solid #000;
}

