<div class="container2">
    <header>
        <img src="../assets/img/LOGO-02 3.png" style="width: 150px; height: 24px; " alt="Logo-02">
    </header>
    <div class="boddy2">
        <div class="boddy2-uper">
            <button class="bk-hm" (click)="goBack()">
                &#8249;
            </button>
            <div style="width: 720px;">
                <img [src]="blog.image" alt="Converted Image" style=" width: 720px; height: 328px;">
                <h4 style=" padding-top: 20px; font-weight: bold;">
                    {{blog.author}}
                </h4>
                <h6 style="color: grey;">
                    {{blog.publish_date}} • {{blog.email}}
                </h6>
                <h2 style="font-weight: bold;">
                    {{blog.title}} 
                </h2>
                <div style="display: flex; gap: 15px;">
                    <button class="categories" *ngFor="let category of blog.categories"
                    [ngStyle]="{
                        'color': category.text_color, 
                        'background-color': category.background_color}"
                    >
                        {{category.title}}
                    </button>
                </div>
                <h5 style="color: grey; padding-top: 20px;">
                    {{blog.description}}
                </h5>
            </div>
        </div>
        <div class="boddy2-bottom">
            <div class="boddy2-bottom1">
                <h2 style="font-size: 25px; font-weight: bold;">
                    მზგავსი სტატიები
                </h2>
            </div>
            <div class="boddy2-bottom3">
                <div *ngFor="let relatedBlog of relatedBlogs">
                    <img [src]="relatedBlog.image" style="width: 408px; height: 320px;" alt="Related Blog Image">
                    <h4 style="padding-top: 10px; font-weight: bold;">
                      {{ relatedBlog.author }}
                    </h4>
                    <h5 style="color: grey;">
                      {{ relatedBlog.publish_date }}
                    </h5>
                    <h3 style="font-weight: bold;">
                      {{ relatedBlog.title }}
                    </h3>
                    <div style="display: flex; gap: 15px; flex-wrap: wrap;">
                      <button *ngFor="let categoryOfBlogs of relatedBlog.categories" class="category"
                        [ngStyle]="{'color': categoryOfBlogs.text_color, 
                        'background-color': categoryOfBlogs.background_color
                        }">
                        {{ categoryOfBlogs.title }}
                      </button>
                    </div>
                    <h4 style="padding: 10px 0px 0px 0px;">
                      {{ relatedBlog.description }}
                    </h4> 
                  <a [routerLink]="['/blog', relatedBlog.id]"> სრულად ნახვა &#8599;</a> 
                </div>
            </div>
        </div>
    </div>
</div>