header{
    display: flex;
    justify-content: center;
    padding: 20px;
    border-style: groove;
    border-width: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.boddy2{
    background-color: #E4E3EB;
    display: block;
}

.boddy2-uper{
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
    gap: 350px;
}

.bk-hm{
    font-size: 30px;
    margin-left: 50px;
    padding: 4px 18px 6px 18px;
    border-style: none;
    border-radius: 25px;
    cursor: pointer;
    &:hover{
        color: white;
        background-color: black;
        transition: 0.3s;
    }
}

.categories{
    border-style: none;
    padding: 6px 12px 6px 12px;
    border-radius: 16px;
}

.boddy2-bottom{
    display: block;
}

.boddy2-bottom1{
    display: flex;
    justify-content: space-between;
    padding: 60px 100px 30px 100px;
}

.boddy2-bottom2{
    gap: 10px;
    display: flex;
}

#bot-btn1,#bot-btn2{
    font-size: 30px;
    padding: 0px 20px 1px 20px;
    border-style: none;
    border-radius: 30px;
    background-color: #cbcbcb90;
    color: #F3F2FA;
    cursor: pointer;
}

#bot-btn1:hover{
    color: white;
    background-color: #5D37F3;
}

#bot-btn2:hover{
    color: white;
    background-color: #5D37F3;
}

.boddy2-bottom3{
    display: block;
    width: 88%; 
    padding: 0px 0px 0px 40px;
        a {
        color: #5D37F3;
        text-decoration: none;
    }
    &::-webkit-scrollbar{
        width: 0;
    }
}

.category{
    border-style: none;
    padding: 6px 12px 6px 12px;
    border-radius: 16px;
}