<div class="container"  [ngClass]="{'blur-background': showLogIn}">
    <header>
        <img src="../assets/img/LOGO-02 3.png" style="width: 150px; height: 24px; " alt="Logo-02">
        <button class="lg-btn" (click)="showButton()">
            შესვლა
        </button>
    </header>
    <div class="boddy">
        <div class="boddy-uper">
            <h1 style="font-size: 55px;">
                ბლოგი
            </h1>
            <img src="../assets/img/Blog.png" alt="Blog">
        </div>
        <div class="boddy-middle">
            <button (click)="filterByCategory('მარკეტი')" 
            [ngClass]="{'active': selectedCategories.has('მარკეტი')}" 
            class="middle-btn1">
                მარკეტი
            </button>
            <button (click)="filterByCategory('აპლიკაცია')" 
            [ngClass]="{'active': selectedCategories.has('აპლიკაცია')}" 
            class="middle-btn2">
                აპლიკაცია
            </button>
            <button (click)="filterByCategory('ხელოვნური ინტელექტი')" 
            [ngClass]="{'active': selectedCategories.has('ხელოვნური ინტელექტი')}" 
            class="middle-btn3">
                ხელოვნური ინტელექტი
            </button>
            <button (click)="filterByCategory('UI/UX')" 
            [ngClass]="{'active': selectedCategories.has('UI/UX')}" 
            class="middle-btn4">
                UI/UX
            </button>
            <button (click)="filterByCategory('კვლევა')" 
            [ngClass]="{'active': selectedCategories.has('კვლევა')}" 
            class="middle-btn5">
                კვლევა
            </button>
            <button (click)="filterByCategory('Figma')" 
            [ngClass]="{'active': selectedCategories.has('Figma')}" 
            class="middle-btn6">
                Figma
            </button>
          </div>
        <div class="boddy-bottom">
            <div class="bottom-boddy-parts" *ngFor="let blog of filteredBlogData">
                <img  [src]="blog.image" alt="blog image" style="width: 408px; height: 328px;"/>
                <h4 style="font-weight: bold; padding-top: 10px;">
                    {{ blog.author }}
                </h4>
                <h5 style="color: grey;">
                    {{ blog.publish_date }}
                </h5>
                <h3 style="font-weight: bold;">
                    {{ blog.title }}
                </h3>
                <div style="display: flex; gap: 15px; flex-wrap: wrap;">
                    <button  class="category" *ngFor="let category of blog.categories"
                    [ngStyle]="{
                        'color': category.text_color, 
                        'background-color': category.background_color
                        }"
                        >
                        {{  category.title }}
                    </button>
                </div>
                <h4 style="padding: 10px 0px 0px 0px;">
                    {{ blog.description }}
                </h4>
                <a [routerLink]="['/blog', blog.id]" [queryParams]="{ source: 'home' }"> სრულად ნახვა &#8599;</a>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showLogIn" class="login-window" [formGroup]="loginForm">
    <div class="lg-window">
        <ng-template #loginContent>
            <button class="back-to-hmpg" (click)="showButton()">
                x
            </button>
            <h2 style="margin-left: 180px;">
                შესვლა
            </h2>
            <label style="margin: 30px 0px 10px 20px;">ელ-ფოსტა</label>
            <input type="email" placeholder="Example@redberry.ge" id="email-input"  formControlName="email" 
            [ngStyle]="{'border-color': email.invalid && email.touched ? 'red' : 'blue', 
            'background-color': email.invalid && email.dirty || email.touched ? '#FAF2F3' : 'rgba(184, 184, 255, 0.193)'}">
            <div *ngIf="email.invalid && email.dirty || email.touched">
                <div *ngIf="email.errors?.['required'] || email.errors?.['email']">
                    <span class="error-email">
                        i
                    </span>
                    <span style="margin-left: 5px; font-size: 12px; color: red;">
                        ელ-ფოსტა არ მოიძებნა
                    </span>
                </div>
            </div>
            <button class="register-btn" (click)="logIn()">
                შესვლა
            </button>     
        </ng-template>
        <div *ngIf="isLoggedIn else loginContent" style="width: 100%;">
            <div style="text-align: center;">
                <button class="back-to-pg" (click)="showButton()">
                    x
                </button>
              <img src="../assets/img/tick-circle.png" alt="" style="margin-top: 20px;">
              <p style="font-size: 20px; font-weight: bold; margin-top: 20px;">წარმატებული ავტორიზაცია</p>
              <button class="nav-loghmp-btn" (click)="navigateToLghmpg()">კარგი</button>
            </div>
        </div>
    </div>
</div>